.delete-btn {
  background-color: #d33;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.delete-btn:hover {
  background-color: #b00;
}